{% extends "app/base.html" %}
{% load static bootstrap4 %}

{% block title %}Add packaging for {{ product }} {% endblock %}
{% block content %}
        <h1>Add packaging for {{ product }}</h1>
        <form method="post">
            <table>
                {% csrf_token %}
                {% bootstrap_form form %}
            </table>
            {% buttons %}
            {% bootstrap_button "Submit" button_type='submit' %}
            {% endbuttons %}
        </form>
{% endblock %}

{% block js_footer %}
{{ block.super }}
{{ form.media }}
{% endblock %}
