{% extends "app/base.html" %}
{% load static bootstrap4 %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<h1>{{ product.brand.name }} {{ product.name }}</h1>
<p>You've scanned:</p>
<ul>
    <li>{{ product.brand.name }} {{ product.name }}</li>
    <li>Current inventory count: {{ product.count }}</li>
    <li>{{ packaging.count }} in this package</li>
    {% if product.generic_product %}
    <li>Generic: {{ product.generic_product.name }}</li>
    <ul>
        {% for alternative in product.generic_product.product_set.all %}
        <li><a href="{{ alternative.get_absolute_url }}">{{ alternative }}</a> - {{ alternative.count }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</ul>

{% buttons %}
<form method="post" style="display:inline">
    {% csrf_token %}
    <input type="hidden" name="action" value="add"/>
    <input type="submit" class="btn btn-primary" value="Add {{ packaging.count }} to the inventory"/>
</form>

<form method="post" style="display:inline;">
    {% csrf_token %}
    <input type="hidden" name="action" value="subtract"/>
    <input type="submit" class="btn btn-danger" value="Subtract {{ packaging.count }} from the inventory"/>
</form>
{% endbuttons %}
{% endblock %}
