{% extends "base.html" %}
{% load static %}

{% block title %}Select product | {{ block.super }}{% endblock %}
    <body>
{% block content %}
<div id="select_product" style="{% if not select_product_form %}display: none;{% endif %}">
    <h2>Select product for which to add this packaging</h2>
    <form method="post" id="select_product_form" name="select_product_form">
        <table>
            {% csrf_token %}
            {{ select_product_form }}
        </table>
    </form>
    <a id="add_new" href="#">Or, add a new product.</a>
</div>
<div id="add_new_product" style="{% if select_product_form %}display: none{% endif %}">
    <h2>Add product form</h2>
    <form method="post">
        <table>
            {% csrf_token %}
            {{ product_form }}
        </table>
        <input type="submit" />
    </form>
</div>
{% endblock %}

{% block js_footer %}
{{ block.super }}
{{ select_product_form.media }}
{{ product_form.media }}

<script type="text/javascript">
    add_new.onclick = () => {
        select_product.style = "display: none;";
        add_new_product.style = "display: block;";
        return false;
    };
    $('#id_product').on('select2:select', (ev) => {
        console.log("Selected ", ev.params.data);
        select_product_form.submit();
    });
</script>
{% endblock %}
</html>
